[submodule "Advanced-Principles-of-Operating-System"]
	path = Advanced-Principles-of-Operating-System
	url = https://github.com/MaZirui2001/Advanced-Principles-of-Operating-System.git
[submodule "Financial-Statement-Analysis-of-Decisions"]
	path = Financial-Statement-Analysis-of-Decisions
	url = https://github.com/MaZirui2001/Financial-Statement-Analysis-of-Decisions.git
[submodule "Theory-and-Practice-of-Socialism-with-Chinese-Characteristics-in-the-New-Era"]
	path = Theory-and-Practice-of-Socialism-with-Chinese-Characteristics-in-the-New-Era
	url = https://github.com/MaZirui2001/Theory-and-Practice-of-Socialism-with-Chinese-Characteristics-in-the-New-Era.git
[submodule "Introduction-to-Dialectics-of-Nature"]
	path = Introduction-to-Dialectics-of-Nature
	url = https://github.com/MaZirui2001/Introduction-to-Dialectics-of-Nature.git
[submodule "Academic-Morality-and-Writing-Norms"]
	path = Academic-Morality-and-Writing-Norms
	url = https://github.com/MaZirui2001/Academic-Morality-and-Writing-Norms.git
[submodule "Academic-Morality-and-Writing-Norms---General-Introduction"]
	path = Academic-Morality-and-Writing-Norms---General-Introduction
	url = https://github.com/MaZirui2001/Academic-Morality-and-Writing-Norms---General-Introduction.git
[submodule "VLSI-Testing-and-Design-for-Testability"]
	path = VLSI-Testing-and-Design-for-Testability
	url = https://github.com/MaZirui2001/VLSI-Testing-and-Design-for-Testability.git
[submodule "VLSI-Design-Basics"]
	path = VLSI-Design-Basics
	url = https://github.com/MaZirui2001/VLSI-Design-Basics.git
[submodule "Image-Processing"]
	path = Image-Processing
	url = https://github.com/MaZirui2001/Image-Processing.git
[submodule "Parallel-Processing"]
	path = Parallel-Processing
	url = https://github.com/MaZirui2001/Parallel-Processing.git
[submodule "Computer-Systems-Architecture"]
	path = Computer-Systems-Architecture
	url = https://github.com/MaZirui2001/Computer-Systems-Architecture.git
[submodule "Marxism-and-the-Present-World"]
	path = Marxism-and-the-Present-World
	url = https://github.com/MaZirui2001/Marxism-and-the-Present-World.git
