[submodule "Advanced-Principles-of-Operating-System"]
	path = Advanced-Principles-of-Operating-System
	url = https://github.com/MaZirui2001/Advanced-Principles-of-Operating-System.git
[submodule "Financial-Statement-Analysis-of-Decisions"]
	path = Financial-Statement-Analysis-of-Decisions
	url = https://github.com/MaZirui2001/Financial-Statement-Analysis-of-Decisions.git
